{% extends 'base.html.twig' %}

{% block title 'Politique de confidentialité - TouSolidaires' %}

{% block body %}
    <div class="main-container py-5">
        <h1 class="h1">Politique de confidentialité</h1>
    </div>
    <div class="bg-dark about">
        <div class="main-container about-container">
            <h2>
                Utilisation des données personnelles collectées
            </h2>
            <h3>
                Cookies
            </h3>
            <p>
                Si vous avez un compte et que vous vous connectez sur le site, un cookie temporaire sera créé afin de persister votre état de connexion. Ce cookie sera automatiquement détruit lorsque vous vous déconnectez du site.
                <br>
                Si lors de la connexion à votre compte, vous avez coché la case "Se souvenir de moi", un cookie sera sauvegardé pour une durée maximale de 1 semaine, mais peut être détruit en forçant une déconnexion manuelle en cliquant sur la bouton Déconnexion.
            </p>
            <hr>
            <h2>
                Durée de stockage de vos données
            </h2>
            <p>
                Pour les utilisateurs et utilisatrices qui s’enregistrent sur le site, nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment. Seul le gestionnaire du site peut aussi voir ces informations.
                Les données des utilisateurs sont stockées tout le temps que le compte de ce dernier est actif, ainsi que de 3 ans après la décision de fermeture de ce compte, conformément au RGPD. Vous pouvez vous opposer à ce délai en nous contactant par mail (cf. Article 1 des CGU).
            </p>
            <hr>
            <h2>
                Les droits que vous avez sur vos données
            </h2>
            <p>
                Conformément au Réglement Général Européen sur la Protection des Données (dit RGPD) et des lois Libertés et Informatique de 1978, vous avez un droit d'accès, de modification, de suppresion et d'opposition concernant vos données personnelles. Vous pouvez exercer ses droits par mail en contactant Corentin THIBAUD <a href="mailto:tousolidaires@yncrea.fr">tousolidaires@yncrea.fr</a> ou en vous connectant à <a href="/profil" >votre compte</a>.
            </p>
            <hr>
            <h2>
                Transmission de vos données personnelles
            </h2>
            <p>
                Vos données sont partiellement transmises aux commerçants lorsque vous effectuez une commande sur leur boutique. Sont concernés uniquement votre nom et votre prénom.
            </p>
            <hr>
            <h2>
                Informations supplémentaires
            </h2>
            <h3>
                Comment protégeons-nous vos données ?
            </h3>
            <p>
                Afin que les données à caractère personnel que nous recueillons ne soient ni perdues, ni divulguées par des tiers non autorisés, nous avons mis en place les mesures nécessaires (base de données non accessible à distance...) proportionnellement à la sensibilité des données stockées.
            </p>
            <hr>
            <h3>
                Procédures mises en œuvre en cas de fuite de données
            </h3>
            <p>
                Conformément à la procédure prévue par le Règlement Général sur la Protection des Données (ou RGPD) en cas de fuite ou d’anomalie concernant les données personnelles en notre possession, nous vous avertirons de la nature des données ayant fuitées et la nature du risque qui peut être engendrée si cela peut entamer vos droits et libertés (données sensibles) dans un délai maximal de 72 heures après constat du problème.
            </p>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}