{% extends 'base.html.twig' %}

{% block title '&Agrave; propos - TouSolidaires' %}

{% block body %}
    <div class="main-container py-5">
        <img src="/images/logo-home.svg" alt="" width="300px" class="d-flex align-items-center m-auto">
        <h1 class="h1 text-center mt-2">Bienvenue sur la plateforme TouSolidaires</h1>
        <h6 class="text-center"><i>Made in Toulon for Toulon</i></h6>
        <br>
        <p class="lead">TouSolidaires est une plateforme créée par Quentin BOITEL et Corentin THIBAUD, tous deux en CIN1 à l'ISEN Méditerranée, ayant pour but de mettre en relation des clients et les commerçants toulonnais en ce contexte sanitaire difficile.</p>
        <br>
        <h2>Pourquoi cette plateforme ?</h2>
        <br>
        <p class="lead">En France, avant le confinement du mois de Novembre, 2 commerces sur 3 ne possédaient aucun site Internet. La crise sanitaire nous a invité à réinventer le commerce. Les avantages de ces sites sont importants, notamment offrant une source financière supplémentaire aux commerçants.</p>
        <p class="lead">TouSolidaires est une plateforme associative qui fonctionne 24h/24 7j/7, c’est-à-dire que la plateforme ne cherche pas le bénéfice. Réalisé par des étudiants de l’ISEN de Toulon et propulsé par Junior’ISEN, le but est de venir en aide aux commerçants toulonnais.</p>
        <br>
        <p class="lead">Notre force principale est le local. Nous connaissons très bien le marché de Toulon et ses difficultés. Pour cette raison, un commerçant membre de la plateforme <b>peut proposer des évolutions à la plateforme</b>. De plus, l’argent généré par la plateforme restera dans un circuit court le plus longtemps possible, profitant aux clients et aux commerçants.</p>
        <p class="lead">Contrairement aux plateformes traditionnelles, l’inscription et la vente sont <b>gratuits</b> pour le commerçant. Un commerçant pourra s’inscrire sans avoir à attendre les financements de l’Etat.</p>
        <p class="lead">TouSolidaires propose un contrôle total pour les commerçants sur leurs boutiques en ligne : vous choisissez vos produits, votre prix pratiqué et vous la personnalisez comme vous le souhaitez. Vous ne savez pas comment faire ? Notre équipe pourra venir vous aider à configurer vos produits et à attirer les clients qui feront la différence à la fin du mois.</p>
        <br>
        <h2>Qui peut rejoindre TouSolidaires ?</h2>
        <br>
        <p class="lead">Tous les commerces de la ville de Toulon de petite taille (Entreprise unipersonnelle, TPE, PME, SARL) et n’étant affilié à aucune marque de distribution peuvent rejoindre Tousolidaires. Dans un futur proche, la plateforme sera ouverte à tous les commerces de l’agglomération toulonnaise.</p>
        <br>
        <h2>Comment rejondre TouSolidaires ?</h2>
        <br>
        <p class="lead">Vous pouvez rejoindre Tousolidaires en contactant un membre de l’équipe à l’adresse mail suivante : <a href="mailto:tousolidaires@yncrea.fr">tousolidaires@yncrea.fr</a> et notre équipe vous répondra dans les plus brefs délais.<sup>*</sup></p>
        <br>
        <p class="lead">Afin de gagner un maximum de temps, merci de nous envoyer :</p>
        <ul>
            <li>Nom de votre boutique</li>
            <li>Adresse de votre boutique</li>
            <li>Adresse mail du magasin (si différente de l'adresse mail utilisée pour nous contacter)</li>
            <li>Horaires du magasin</li>
            <li>Téléphone du magasin</li>
            <li>Réseaux sociaux et site internet si disponible</li>
        </ul>
        <p class="lead">Vous pouvez remplir le formulaire disponible sur notre site pour vous inscrire. Notre équipe vous recontactera dès réception de votre demande.<sup>*</sup></p>
        <small>* Nous faisons notre maximum, nous vous répondrons dans les 24 heures à la suite de votre demande au maximum.</small>
        <br><br>
        <p class="lead">&Agrave; ce moment-là, nous échangerons sur les besoins de votre boutique pour sa disponibilité en ligne.</p>
        <br>
        <h2>Quels sont les produits que je peux mettre en ligne ?</h2>
        <br>
        <p class="lead">Vous pouvez mettre en ligne tous les produits que possède votre boutique et du moment que ce produit est autorisé à être vendu en ligne. Vous retrouverez sur notre site toutes les catégories de produits interdits.</p>
        <br>
        <h2>Puis-je mettre en ligne des produits ayant des restrictions de vente ?</h2>
        <br>
        <p class="lead">Si ce produit est autorisé par la loi à être vendu en ligne oui. En revanche, il sera demandé au commerçant de procéder à toutes les vérifications nécessaires avant de remettre le produit au client. Tousolidaires ne pourra être tenu responsable en cas de vente illégale d’un certain produit.</p>
        <br>
        <h2>Quelles sont les conditions appliquées sur la plateforme ?</h2>
        <br>
        <p class="lead">Vous retrouverez toutes nos conditions de ventes et d’utilisation sur notre site Internet. Si, une des conditions de vente de votre boutique rentre en collision avec une des nôtres (hormis pour la liste de produits vendus, sur les restrictions de ventes et la présentation de votre boutique en ligne), les conditions de votre boutique s’appliquent.</p>
        <br>
        <h2>Quelles sont les images que je peux mettre en ligne ?</h2>
        <br>
        <p class="lead">Vous pouvez mettre en ligne des images de vos produits et de votre boutique uniquement. Toutes les images doivent être visible par tout le monde et n’incitant à aucune consommation dangereuse ou excessive d’un produit. Toute image contraire à cette règle se verra retiré par notre équipe.</p>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}