{% extends 'base.html.twig' %}

{% block title '&Agrave; propos - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'about'} %}
    <div class="sm:container sm:mx-auto py-12 px-6">
        <img src="{{ asset('images/clickntoulon.svg') }}" alt="Logo ClickNToulon" width="300px" class="m-auto h-72">
        <h1 class="text-center mt-2 text-black dark:text-white font-bold text-3xl">Bienvenue sur la plateforme ClickNToulon</h1>
        <h6 class="text-center text-black dark:text-white text-lg font-bold"><i>Made in Toulon for Toulon</i></h6>
        <br>
        <p class="text-black dark:text-white text-base font-medium">ClickNToulon est une plateforme créée par Quentin BOITEL et Corentin THIBAUD, tous deux étudiants à l'ISEN Yncréa Méditerranée, ayant pour but de mettre en relation des clients et les commerçants toulonnais.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Pourquoi cette plateforme ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">ClickNToulon est une plateforme associative qui fonctionne 24h/24 7j/7, réalisé par des étudiants de l’ISEN de Toulon et propulsé par Junior ISEN Toulon.</p>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Notre force principale est le local. Nous connaissons très bien le marché de Toulon et ses avantages. Pour cette raison, un commerçant membre de la plateforme <b>peut proposer des évolutions à la plateforme</b>. De plus, l’argent généré par la plateforme restera dans un circuit court le plus longtemps possible, profitant aux clients et aux commerçants.</p>
        <p class="text-black dark:text-white text-base font-medium">Contrairement aux plateformes traditionnelles, l’inscription et la vente sont <b>gratuits</b> pour le commerçant. Un commerçant pourra s’inscrire sans avoir à attendre les financements de l’Etat.</p>
        <p class="text-black dark:text-white text-base font-medium">ClickNToulon propose un contrôle total pour les commerçants sur leurs boutiques en ligne : vous choisissez vos produits, votre prix pratiqué et vous la personnalisez comme vous le souhaitez. Vous ne savez pas comment faire ? Notre équipe pourra venir vous aider à configurer vos produits et à attirer les clients qui feront la différence à la fin du mois.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Qui peut rejoindre ClickNToulon ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Tous les commerces de la ville de Toulon de petite taille (Entreprise unipersonnelle, TPE, PME, SARL) et n’étant affilié à aucune marque de distribution peuvent rejoindre ClickNToulon. Dans un futur proche, la plateforme sera ouverte à tous les commerces de l’agglomération toulonnaise.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Comment rejoindre ClickNToulon ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Vous pouvez rejoindre ClickNToulon en contactant un membre de l’équipe à l’adresse mail suivante : <a href="mailto:clickntoulon@yncrea.fr">clickntoulon@yncrea.fr</a> et notre équipe vous répondra dans les plus brefs délais.<sup>*</sup></p>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Afin de gagner un maximum de temps, merci de nous envoyer :</p>
        <ul class="text-black dark:text-white text-base list-disc list-inside">
            <li>Nom de votre boutique</li>
            <li>Adresse de votre boutique</li>
            <li>Adresse mail du magasin (si différente de l'adresse mail utilisée pour nous contacter)</li>
            <li>Horaires du magasin</li>
            <li>Téléphone du magasin</li>
        </ul>
        <p class="text-black dark:text-white text-base font-medium">Vous pouvez remplir le formulaire disponible sur notre site pour vous inscrire. Notre équipe vous recontactera dès réception de votre demande.<sup>*</sup></p>
        <small class="text-black dark:text-white text-sm">* Nous faisons notre maximum, nous vous répondrons dans les 24 heures à la suite de votre demande au maximum.</small>
        <br><br>
        <p class="text-black dark:text-white text-base font-medium">&Agrave; ce moment-là, nous échangerons sur les besoins de votre boutique pour sa disponibilité en ligne.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Quels sont les produits que je peux mettre en ligne ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Vous pouvez mettre en ligne tous les produits que possède votre boutique et du moment que ce produit est autorisé à être vendu en ligne. Vous retrouverez sur notre site toutes les catégories de produits interdits.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Puis-je mettre en ligne des produits ayant des restrictions de vente ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Si ce produit est autorisé par la loi à être vendu en ligne oui. En revanche, il sera demandé au commerçant de procéder à toutes les vérifications nécessaires avant de remettre le produit au client. ClickNToulon ne pourra être tenu responsable en cas de vente illégale d’un certain produit.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Quelles sont les conditions appliquées sur la plateforme ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Vous retrouverez toutes nos conditions de ventes et d’utilisation sur notre site Internet. Si, une des conditions de vente de votre boutique rentre en collision avec une des nôtres (hormis pour la liste de produits vendus, sur les restrictions de ventes et la présentation de votre boutique en ligne), les conditions de votre boutique s’appliquent.</p>
        <br>
        <h2 class="text-black dark:text-white text-xl text-center font-medium">Quelles sont les images que je peux mettre en ligne ?</h2>
        <br>
        <p class="text-black dark:text-white text-base font-medium">Vous pouvez mettre en ligne des images de vos produits et de votre boutique uniquement. Toutes les images doivent être visible par tout le monde et n’incitant à aucune consommation dangereuse ou excessive d’un produit. Toute image contraire à cette règle se verra retiré par notre équipe.</p>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}