{% extends 'base.html.twig' %}

{% block title  'Connexion - ClickNToulon'%}

{% block body %}
    <div class="min-h-screen max-h-screen bg-white flex justify-center items-center">
        <div class="py-6 px-6 sm:py-12 sm:px-12 shadow-2xl rounded-2xl shadow-xl z-20 absolute max-w-full sm:max-w-sm lg:max-w-lg w-full">
            {% if error %}
                <div class="bg-yellow-600 rounded-xl mb-2" id="warningAlert">
                    <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                        <div class="flex items-center justify-between flex-wrap">
                            <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-lg bg-yellow-700">
                                  <!-- Heroicon name: outline/exclamation -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                  </svg>
                                </span>
                                <p class="ml-3 font-medium text-white">
                                    <span class="inline">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </span>
                                </p>
                            </div>
                            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                <button type="button" class="flex p-2 rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1" onclick="closeAlert('warningAlert')">
                                    <span class="sr-only">Fermer</span>
                                    <!-- Heroicon name: outline/x -->
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function closeAlert(alertID) {
                        document.getElementById(alertID).classList.toggle('hidden');
                        document.getElementById(alertID).classList.toggle('block');
                    }
                </script>
            {% endif %}
            <form method="post">
                <div>
                    <h1 class="text-3xl font-bold text-center mb-4 text-black">Connectez-vous</h1>
                </div>
                <div>
                    <label for="email" class="block text-base font-bold text-black">Adresse Email</label>
                    <input type="email" name="email" id="email" autocomplete="email" required
                           class="w-full bg-white rounded-lg border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mb-4 mt-1" />
                    <label for="password" class="block text-base font-bold text-black">Mot de passe</label>
                    <input type="password" name="password" id="password" autocomplete="current-password" required
                           class="w-full bg-white rounded-lg border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mb-4 mt-1" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="inline-flex w-full items-start justify-between">
                        <div>
                            <div>
                                <label class="inline-flex items-center align-middle">
                                    <input type="checkbox" class="rounded border-gray-400 text-yellow-500 shadow-sm focus:border-yellow-300 focus:ring focus:ring-offset-0 focus:ring-yellow-200 focus:ring-opacity-50" name="_remember_me">
                                    <span class="ml-2 text-black font-medium">Se souvenir de moi</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a href="{{ path('app_forgot_password_request') }}" class="text-black ml-auto underline hover:text-yellow-500">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-6">
                    <button class="py-2 px-4 w-auto text-xl text-white bg-yellow-500 rounded-lg" type="submit">Se connecter</button>
                    <p class="mt-4 text-base text-black">Vous n'avez pas de compte ? <a class="underline hover:text-yellow-500" href="{{ path('app_signup') }}"> Inscrivez-vous</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
