{% extends 'base.html.twig' %}

{% block title  'Connexion - ClickNToulon'%}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'login'} %}
    <div class="container mx-auto flex items-center justify-center h-test">
        <div class="grid grid-cols-3 gap-y-6 desktop:gap-x-6 w-full h-auto place-items-center">
            <div class="bg-darkblue-800 desktop:col-span-1 col-span-3 h-full w-full max-w-xl max-h-max rounded-xl px-3 py-8 desktop:p-10">
                {% if error %}
                    <div class="bg-yellow-600 rounded-xl mb-2 lg:mb-4 -mt-2 lg:-mt-6" id="warningAlert">
                        <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                            <div class="flex items-center justify-between flex-wrap">
                                <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-lg bg-yellow-700">
                                  <!-- Heroicon name: outline/exclamation -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                  </svg>
                                </span>
                                    <p class="ml-3 font-semibold text-white">
                                        <span class="inline">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </span>
                                    </p>
                                </div>
                                <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                    <button type="button" class="flex p-2 rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1" onclick="closeAlert('warningAlert')">
                                        <span class="sr-only">Fermer</span>
                                        <!-- Heroicon name: outline/x -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        function closeAlert(alertID) {
                            document.getElementById(alertID).classList.toggle('hidden');
                            document.getElementById(alertID).classList.toggle('block');
                        }
                    </script>
                {% endif %}
                <form method="post" class="w-full" autocomplete="off">
                    <h1 class="text-4xl font-bold text-center mb-8 text-black dark:text-white capitalize">Connectez-vous</h1>
                    <div class="flex flex-col">
                        <div class="relative">
                            <label for="email" class="block text-base font-bold text-black dark:text-gray-300">Adresse Email</label>
                            <input type="email" name="email" id="email" autocomplete="email" required class="w-full bg-white dark:bg-darkblue-700 rounded-lg border-2 border-blue-800 focus:border-blue-500 focus:ring-blue-200 dark:focus:ring-blue-500 text-base outline-none text-gray-700 dark:text-gray-100 py-2 px-3 mt-1 mb-4 placeholder:text-gray-400" placeholder="johndoe@exemple.com" />
                        </div>
                        <div class="relative mt-2">
                            <label for="password" class="block text-base font-bold text-black dark:text-gray-300">Mot de passe</label>
                            <input type="password" name="password" id="password" autocomplete="current-password" required class="w-full bg-white dark:bg-darkblue-700 rounded-lg border-2 border-blue-800 focus:border-blue-500 focus:ring-blue-200 dark:focus:ring-blue-500 text-base outline-none text-gray-700 dark:text-gray-100 py-2 px-3 mt-1 mb-4 placeholder-gray-400" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="flex w-full items-baseline space-y-1 xs:space-y-0 xs:items-start justify-between shrink-1 xs:flex-row flex-col mt-2 px-3">
                            <div class="relative">
                                <label class="inline-flex items-center align-middle" for="_remember_me">
                                    <input type="checkbox" class="rounded border-2 border-blue-600 text-blue-500 shadow-sm focus:border-blue-500" name="_remember_me" id="_remember_me">
                                    <span class="text-black dark:text-gray-300 font-semibold">Se souvenir de moi</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button class="py-2 px-3 w-full text-xl font-semibold text-white bg-blue-700 hover:bg-blue-600 rounded-full" type="submit">Se connecter</button>
                        <p class="mt-3 text-base text-black dark:text-gray-300 font-semibold">Mot de passe oublié ? <a class="underline font-bold hover:text-blue-400 underline-offset-2" href="{{ path('app_forgot_password_request') }}"> Cliquez-ici</a></p>
                    </div>
                </form>
            </div>
            <div class="w-full hidden desktop:flex desktop:col-span-2 items-center justify-center">
                <img class="h-96 object-cover" src="{{ asset('images/security.svg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}
