{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - ClickNToulon{% endblock %}

{% block body %}
<section class="login w-100 h-100">
    <div class="fr-container d-flex flex-column h-100">
        <div class="row align-items-center justify-content-center gx-0 h-100">
            <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11 h-100 d-flex justify-content-center flex-column">

                <!-- Heading -->
                <h1 class="mb-3 fw-bold">
                    Mot de passe oublié
                </h1>

                <!-- Form -->
                <form class="login" method="post">
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="fr-alert fr-alert--error mb-3" role="alert" id="alert">{{ flashError }}</div>
                    {% endfor %}

                    <!-- Email -->
                    <div class="form-group">
                        <label class="form-label" for="inputEmail">
                            Adresse Mail
                        </label>
                        <input type="email" class="fr-input form-control" id="inputEmail" name="email" required autofocus>
                    </div>

                    <div class="form-actions">
                        <a href="{{ path("app_login") }}" class="text-black">Connexion</a>
                    </div>

                    <!-- Submit -->
                    <div>
                        <button class="btn btn-form" type="submit">Demander un lien</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-7 offset-lg-1 d-none d-lg-flex flex-row justify-content-center login-image h-100">
                <!-- Image -->
                <div class="w-100"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
{% endblock %}
