/* Fonts */
@font-face {
  font-family: Marianne;
  src: url("../fonts/Marianne-Regular.woff2") format("woff2"),
  url("../fonts/Marianne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Marianne;
  src: url("../fonts/Marianne-Regular_Italic.woff2") format("woff2"),
  url("../fonts/Marianne-Regular_Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url("../fonts/Marianne-Bold.woff2") format("woff2"),
  url("../fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  display: block;
  width: 100%;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html::-webkit-scrollbar-thumb {
  background: #F5b027;
}
html::-webkit-scrollbar-track {
  background: #EAEDED;
}

body {
  background-color: #EAEDED !important;
  color: #000000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marianne", sans-serif !important;
  font-weight: 700 !important;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  font-family: "Marianne", sans-serif !important;
  font-weight: 400;
}

b {
  font-family: "Marianne", sans-serif !important;
  font-weight: bold;
}

i {
  font-family: "Marianne Italic", sans-serif;
  font-style: italic;
}

ul {
  list-style: none !important;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: #000000;
  box-shadow: none !important;
}

a:any-link:hover {
  color: rgba(245, 176, 39, 1) !important;
}

a.white {
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Chrome autofill workaround */
  transition: background-color 9999s;
  box-shadow: 0 0 0 45px #FFF inset !important;
  -webkit-text-fill-color: #000 !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  /* Chrome autofill workaround */
  transition: background-color 9999s;
  box-shadow: 0 0 0 45px #FFF inset !important;
  -webkit-text-fill-color: #000 !important;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.py-10 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.fr-table td {
  padding: 0.5rem !important;
  font-size: 16px;
}

.fr-table thead th {
  font-size: 17px !important;
}

.fr-table tfoot td {
  font-size: 16px;
}

.fr-table tbody tr td:not(.td-name):first-of-type {
  font-weight: bold;
}

.fr-table table thead th, .fr-table table tbody td, .fr-table table tfoot td {
  text-align: center !important;
}

.fr-table table thead th.last-th, .fr-table table tbody td.last-td {
  text-align: left !important;
}

.table {
  border-radius: 0.25rem !important;
}

.table-striped {
  border-radius: 0.25rem !important;
}

thead {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.about {
  border-top: 2.5px solid rgba(44, 44, 46, 0.7);
}

hr {
  height: 1px;
  opacity: .1;
  background: #FFF;
  width: 80%;
}

.text-black {
  color: black;
}

.text-red {
  color: red !important;
  font-weight: bold;
}

/* Navbar */
nav {
  background-color: #EAEDED !important;
  padding: 0 !important;
}

nav .container-fluid {
  padding: .25rem 3rem !important;
}

nav div a {
  color: #000 !important;
  font-weight: bold !important;
}

nav div a:hover {
  color: rgba(245, 176, 39, 1) !important;
}

.active {
  color: rgba(245, 176, 39, 1) !important;
}

ul.navbar-nav {
  display: flex !important;
  align-items: center !important;
  margin-right: auto !important;
}

ul.navbar-nav:nth-of-type(2) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.navbar-nav li {
  margin: 0 .5rem;
}

.navbar-nav li a {
  display: flex !important;
  align-items: baseline !important;
  justify-content: flex-start !important;
  flex-direction: row;
}

.navbar-nav li:first-child {
  margin: 0 !important;
  padding-right: .5rem;
}

.link-home {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  height: 37px !important;
  border-right: 1px solid #F5b027;
}

.product-price {
  font-weight: bold;
  font-style: italic;
  color: rgba(0, 0, 0, .7) !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
}

.nav-item a svg {
  height: 16px;
  width: 16px;
}

.nav-item a i {
  font-size: 18px !important;
  margin-right: .3rem !important;
}

.link-home a i {
  font-size: 22px !important;
}

.navbar-brand {
  display: block !important;
}

img.navbar-brand-img {
  max-height: 2.4rem;
  width: 2.4rem;
}

.navbar-toggler {
  border-color: black !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

div li {
  margin: 0 .25rem;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Footer */
footer {
  background-color: #1B2A4E !important;
  max-width: 100% !important;
  width: 100% !important;
  margin-right: 0 !important;
  border-top: 2.5px solid #232F3E;
  color: #ffffff;
  padding-bottom: 1.5rem !important;
}

footer a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 768px) {
  .py-md-11 {
    padding-bottom: 6rem !important;
    padding-top: 6rem !important;
  }
}

.py-8 {
  padding-bottom: 3rem!important;
  padding-top: 3rem!important;
}

.dark-bg {
  background-color: #232F3E !important;
}

.fr-modal__header {
  background-color: #232F3E !important;
}

.fr-modal__header .fr-link {
  color: white !important;
}

/* Forms */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
}

.form-search {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.form-search div.button-submit {
  margin-left: auto;
}

.text-bold {
  font-weight: bold;
}

textarea.form-control {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  background-color: #FFF !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0.25rem !important;
  margin-bottom: 24px !important;
  color: #000 !important;
}

textarea:read-only::placeholder {
  color: #000 !important;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #000 !important;
}

div textarea.form-control {
  width: 720px !important;
  margin: 0 !important;
  background-color: #FFF;
  border: none !important;
  border-radius: 0.25rem !important;
  color: #000 !important;
}

textarea.form-control.mb-24 {
  margin-bottom: 24px !important;
}

input.form-control:read-only {
  background-color: #FFF;
}

textarea.form-control:focus {
  background-color: #FFF !important;
}

.checkbox label {
  margin: 0 !important;
  font-weight: normal !important;
}

.label-inscription {
  max-width: 92%;
}

.link-underline {
  text-decoration: underline !important;
}

.info-usage-link {
  color: #ced4da;
}

.link-underline:hover {
  text-decoration: none !important;
}

.danger-zone-txt {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  width: 660px !important;
  text-align: justify;
}

input.form-control {
  height: 45px;
  width: 350px;
  border-radius: 0.25rem !important;
  background-color: #FFF !important;
  color: #000 !important;
  margin-bottom: 24px !important;
  border: none !important;
}

.form-search input {
  height: auto !important;
  width: 100% !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: inset 0 -2px 0 0 #F5b027 !important;
}

.form-search .form-group {
  width: 100%;
}

.form-search button {
  background-color: #F5b027 !important;
  max-width: 200.05px !important;
}

input.form-control[type="file"] {
  height: auto !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
  box-shadow: inset 0 -2px 0 0 #F5b027 !important;
  width: 400px;
}

.add-product-form input.form-control {
  width: 466px !important;
  max-width: 466px !important;
}

.add-product-form select.fr-select {
  width: 100% !important;
  margin-bottom: 24px !important;
}

.add-product-form div.column {
  display: flex;
  flex-direction: row;
}

.add-product-form div.column div.form-group {
  width: 100%;
}

.add-product-form div.column div.form-group:first-of-type {
  margin-right: 10px !important;
}

.add-product-form div.column div.form-group:last-of-type {
  margin-left: 10px !important;
}

.form-check-input {
  width: 1.25rem !important;
  height: 1.25rem !important;
  border-radius: 0.25rem !important;
}

.form-check-input:checked {
  background-color: #F5b027;
  border-color: #F5b027;
}

input.last-input {
  margin-bottom: 10px !important;
}

input.last-password {
  margin-bottom: 0 !important;
}

select.last-select {
  margin-bottom: 0 !important;
}

label {
  color: #FFF;
  margin-bottom: 8px !important;
}

input.form-control:focus {
  background-color: #FFF !important;
}

.btn-form {
  background: rgba(25, 135, 84, 1);
  color: #FFF;
  font-family: "Marianne", sans-serif;
  font-weight: bold;
  font-style: italic;
  padding: 9px 16px;
  margin: 0 !important;
  border-radius: 0.25rem !important;
  margin-top: calc(2 * 8px) !important;
  transition: background 0.3s, color 0.3s;
}

.btn-danger {
  background: #dc3545 !important;
  color: #FFF;
  font-family: "Marianne", sans-serif;
  font-weight: bold;
  font-style: italic;
  padding: 9px 16px;
  border-radius: 0.25rem !important;
  margin: 0 !important;
  margin-top: calc(2 * 8px) !important;
  transition: background 0.3s !important;
}

.btn-danger:hover a:hover {
  color: #FFF !important;
}

button.btn-no-mt {
  margin-top: 0 !important;
}

button.btn-mt {
  margin-top: 8px !important;
}

.btn-form:hover {
  color: #FFF;
}

/* Alert */
.toast-container {
  top: 70px !important;
  right: 90px !important;
}
/* Admin */

/* Badges */
span.admin-badge.badge-header i {
  margin-left: .25rem;
}

span.admin-badge i {
  font-size: 20px;
  --fa-primary-color: white !important;
  --fa-secondary-color: rgba(245, 176, 39, 1) !important;
  --fa-secondary-opacity: 1.0;
}

button.profile {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Team */
main.team {
  text-align: center !important;
  max-width: 100% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 543px !important;
}

main.team .team-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(245px, 1fr));
  grid-gap: calc(4 * 8px);
  grid-auto-flow: dense;
  width: 100%;
  height: 100%;
  padding: 0 5rem !important;
}

.team-grid .card {
  width: 100% !important;
}

ul.admin-infos {
  margin: 0 !important;
  margin-top: 1rem !important;
  padding: 0 !important;
}

.admin-infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Error Page */

/* Dropdown */
@media all and (min-width: 768px) {
  nav .nav-item .dropdown-menu {
    display: none;
  }

  nav .nav-item:hover .nav-link {
    color: #fff;
  }

  nav .nav-item:hover .dropdown-menu {
    display: block;
  }

  nav .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media all and (max-width: 768px) {
  nav .nav-item:hover .dropdown-menu {
    display: block;
  }

  nav .nav-item .dropdown-menu {
    display: none;
  }
}

nav .nav-item .dropdown-menu {
  border-radius: 0.25rem !important;
  border: none !important;
  background-color: #ffffff !important;
}

.dropdown:hover .dropdown-menu {
  display: flex !important;
  align-items: baseline !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
}

nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 16px;
  color: #000 !important;
}

nav .nav-item .dropdown-menu .dropdown-item i {
  font-size: 18px !important;
}

nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
  color: rgba(245, 176, 39, 1) !important;
}

nav .nav-item .dropdown-toggle::after {
  display: none !important;
  border: none !important;
}

nav .nav-item .dropdown-toggle i {
  font-size: 20px !important;
}

nav .nav-item .dropdown-toggle {
  font-size: 18px;
}

.dropdown-user {
  min-width: 194.14px;
}

.dropdown-user.admin-dropdown li {
  padding-right: 0 !important;
}

.dropdown-user.admin-dropdown li a.dropdown-item {
  padding: 4px 0 !important;
}

.dropdown-user li {
  margin: .15rem 0;
}

.dropdown-menu li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li a.dropdown-item {
  width: auto !important;
}

hr.dropdown-divider {
  border-color: rgba(0, 0, 0, 1) !important;
  max-width: 100% !important;
  width: 100% !important;
}

/* Search */
.form-search {
  margin-top: 2rem;
  max-height: 22vh !important;
}

.results-count {
  text-align: center;
}

/* Shops */

.product-info figure.fr-content-media {
  margin: 0 !important;
}

.product-separator {
  background-color: #212529!important;
}

.categories {
  margin-top: 5px !important;
}

/* Products */

/* Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff !important;
  width: 350px !important;
  height: auto;
  border-radius: 10px !important;
}

.card-body {
  border-radius: 10px;
  position: relative;
  padding: 20px !important;
  padding-top: 10px !important;
  width: 100%;
  background-color: #FFF;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition: 600ms all;
}

.card-text {
  text-align: justify;
}

.card div img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card a {
  text-align: center;
}

.card .btn-form {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

.deal_price {
  text-decoration: line-through;
}

.prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.prices p.deal_price {
  margin-right: 10px !important;
}

.prices p:nth-child(2) {
  color: #dc3545;
  font-weight: bold;
}

.prices span.deal_price {
  padding-left: 4px !important;
}

.prices span.deal_price_new {
  color: #dc3545;
  font-weight: bold;
  padding-left: 4px;
}

.btn-add {
  background-color: rgba(245, 176, 39, .8);
  filter: brightness(1);
  color: #FFF !important;
  width: 70%;
  font-weight: bold;
  padding: 9px 16px;
  margin: 0 !important;
  border-radius: 0.25rem !important;
  transition: filter 0.3s, background 0.3s, color 0.3s;
}

/* User Profil*/
.user-profile-info {
  margin-left: 1rem;
}

.user-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
}

.user-navbar-image {
  border-radius: 50% !important;
  margin-right: 3px;
}

.navbar-nav li a.user-link {
  max-height: 2.4rem !important;
  align-items: center !important;
}

.user-link div.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 46px;
}

.user-profile-status {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Seller Section */
.since {
  padding: 0 !important;
  padding-left: 10px !important;
}

.text-white-75 {
  color: hsla(0,0%,100%,.75)!important;
}

/* Timetable */
.timetable-day {
  padding: .25rem !important;
  text-align: left;
}

.timetable-day-p {
  margin-bottom: 0 !important;
}

/* Google Maps */
.mapouter {
  position: relative;
  text-align: right;
  height: auto !important;
  width: 100% !important;
  min-height: 200px !important;
  border-radius: 10px !important;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100% !important;
  position: relative;
  min-height: 200px !important;
  border-radius: 10px !important;
}

#gmap_canvas {
  width: 100% !important;
  height: 100%;
  border-radius: 8px !important;
  position: relative;
  min-height: 200px !important;
}

.mg-t-0 {
  margin-top: 0 !important;
}

/* Modal */
.fr-modal__content.forms {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  width: 100% !important;
  margin-bottom: 0 !important;
  max-width: 100%;
  border-radius: 0 !important;
  background-color: #232F3E !important;
}

.order-confirm {
  margin-top: 0 !important;
}

.fr-modal__content.forms form {
  width: 100%;
}

.fr-modal__footer {
  padding-top: 1rem !important;
}

.fr-modal__title {
  color: #F5b027 !important;
}

.checkboxs {
  display: grid;
  grid-template-columns: repeat(3, minmax(175px, 1fr));
  grid-gap: 4px;
  grid-auto-flow: dense;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.checkboxs div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.checkboxs div:last-child {
  margin-left: 0 !important;
}

.checkboxs div label {
  margin-left: 10px !important;
  margin-bottom: 0 !important;
}

.hero {
  padding: 5rem 10rem;
}

.fr-btn:hover {
  background-color: rgba(245, 176, 39, .7) !important;
}

.btn-home-outline {
  background: rgba(245, 176, 39, 0);
  color: rgba(245, 176, 39, 1);
  font-family: "Marianne", sans-serif !important;
  font-weight: bold;
  font-style: italic;
  padding: 9px 16px;
  border-radius: 0.25rem !important;
  margin: 0 !important;
  margin-top: calc(2 * 8px) !important;
  border-color: rgba(245, 176, 39, 1);
  box-shadow: inset 0 0 0 1px #F5b027;
  transition: filter 0.7s, background 0.7s, color 0.7s;
}

.btn-home-outline:hover {
  color: #FFF;
  background: rgba(245, 176, 39, 1) !important;
  transition: background 0.7s, color 0.7s;
}

.btn-home-outline:active {
  background-image: none !important;
}

.btn-home {
  background: rgba(245, 176, 39, 1);
  color: #FFF;
  font-family: "Marianne", sans-serif !important;
  font-weight: bold;
  font-style: italic;
  padding: 9px 16px;
  margin: 0 !important;
  border-radius: 0.25rem !important;
  border-color: #F5b027 !important;
  margin-top: calc(2 * 8px) !important;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-home:hover {
  color: #F5b027;
  box-shadow: inset 0 0 0 1px #F5b027; !important;
  background-color: #EAEDED !important;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-home:active {
  background-image: none !important;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-img-top {
  top: 0;
  border-radius: 10px 10px 0 0;
}

.custom-file {
  margin: 0 !important;
  height: 44px !important;
}

.fr-btns-group {
  justify-content: center !important;
}

.fr-card {
  border-radius: 0.25rem !important;
}

.fr-card:not(.fr-card--no-arrow) .fr-card__body::after {
  color: #F5b027 !important;
}

.fr-card--orders:not(.fr-card--no-arrow) .fr-card__body::after {
  color: #000 !important;
}

.fr-card--orders:not(.fr-card--no-arrow):hover .fr-card__body::after {
  color: #F5b027 !important;
}

.tag-danger {
  color: white !important;
  background-color: rgba(220, 53, 69, 1) !important;
}

.fr-card__body {
  padding: 1rem !important;
}

.fr-tags-group li {
  margin: 0 !important;
}

.fr-tags-group li:nth-child(2) {
  margin-left: 5px !important;
}

.fr-responsive-img {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.fr-card--horizontal .fr-responsive-img {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.25rem !important;
}

.fr-modal__footer {
  background-color: #232F3E !important;
}

.fr-modal__footer .fr-btn.btn-danger:hover {
  background-color: #dc3545 !important;
}

.fr-modal__footer .fr-btn.btn-form:hover {
  background-color: rgba(25, 135, 84, 1) !important;
}

.fr-modal__content.forms input {
  width: 100% !important;
  max-width: 100% !important;
}

.fr-modal__content {
  margin-bottom: 3rem !important;
  padding-top: 0 !important;
}

.bi-plus-circle {
  margin-right: 5px;
}

.dialog-w-100 {
  width: 100% !important;
  max-width: 1248px !important;
}

.fr-card__title .fr-card__link {
  color: #F5b027 !important;
}

.order-desc {
  color: black !important;
  margin-bottom: 0.5rem !important;
}

.order-address {
  text-align: left !important;
}

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-family: Marianne, sans-serif;
  font-weight: 700 !important;
}
.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
  background-color: grey !important;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  vertical-align: middle;
  width: 100%;
}

.multi-steps > li.is-active.orders-active:before {
  content: "\23F3" !important;
}

.multi-steps > li.is-active.orders-active-end:before {
  content: "\2713" !important;
}

.order {
  background-color: white !important;
  height: auto;
  margin-top: 10px;
  border-radius: 0.25rem;
  padding: 1.5rem;
  margin-bottom: 5px !important;
}

.order-status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #198754 !important;
  height: fit-content;
}
.multi-steps > li:before {
  content: '\2713';
  display: block;
  margin: 0 auto 4px;
  background-color: #fff !important;
  width: 36px;
  height: 36px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-color: #198754 !important;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #198754 !important;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff !important;
  border-color: grey;
  color: grey;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(25,135,84, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(25,135,84, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(25,135,84, 0);
  }
}

.multi-steps > li.is-active {
  color: grey !important;
}

.multi-steps > li.is-active ~ li {
  color: black !important;
}
.multi-steps > li.is-active ~ li:before {
  color: grey;
  border-color: grey !important;
}

.multi-steps > li.is-active, li.is-active:before {
  color: #198754 !important;
}

.multi-steps {
  margin-top: 15px;
}

.fr-footer a {
  color: white;
}

.fr-footer p {
  color: white;
}

.fr-footer {
  border-top-color: #232F3E !important;
  border-bottom: 0 !important;
}

.fr-card-search .fr-card__img {
  height: 500px;
}

.fr-select {
  width: 350px !important;
  box-shadow: none !important;
  background-color: #FFF !important;
}

.fr-select.form-control {
  box-shadow: inset 0 -2px 0 0 #F5b027 !important;
}

.fr-input.form-control {
  border-radius: 0.25rem 0.25rem 0 0 !important;
  box-shadow: inset 0 -2px 0 0 #F5b027 !important;
}

.fr-tag-admin {
  background-color: transparent !important;
  color: #FFF !important;
  font-weight: bold;
  padding-left: 0 !important;
  font-size: 17px;
}

.fr-tag-admin .admin-badge {
  margin-left: 5px;
  margin-right: 0 !important;
}

.fr-footer__content-link {
  border-radius: 0.25rem !important;
}

.baskets {
  min-height: 519px !important;
}

@keyframes fadeOut {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none !important;
  }
}

.fr-alert {
  display: none !important;
}

.fr-alert.show {
  display: block !important;
  animation: fadeOut 10.1s ease;
}

.login .fr-alert {
  display: block !important;
}

.pagination {
  background-color: transparent !important;
  margin-top: 20px !important;
}

.pagination-next, .pagination-previous {
  background-color: transparent !important;
  border-color: #F5b027 !important;
  color: #F5b027 !important;
  font-weight: bold !important;
  border-radius: 0.25rem !important;
}

a.pagination-next:hover, a.pagination-previous:hover {
  background-color: #F5b027 !important;
  color: white !important;
}

.pagination-link {
  background-color: transparent !important;
  color: #F5b027 !important;
  border-color: #F5b027 !important;
  font-weight: bold !important;
  border-radius: 0.25rem !important;
}

a.pagination-link:hover {
  background-color: #F5b027 !important;
  color: white !important;
}

.pagination-link.is-current {
  background-color: #F5b027 !important;
  color: white !important;
  border: none !important;
}

.pagination-link.is-current:hover {
  color: white !important;
}

@media screen and (min-width: 769px), print{
  .pagination {
    justify-content: center !important;
  }
  .pagination-list {
    flex-grow: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .pagination-previous {
    order: 0 !important;
  }
}

.bg-yellow {
  background-color: #F5b027 !important;
}

.order_info .fr-tag {
  display: inline-block !important;
  padding: .35em .65em !important;
  font-size: .75em !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  color: #fff !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: baseline !important;
  border-radius: .25rem !important;
}

.order_info div.product-description {
  width: 290px !important;
  text-align: justify;
}

.order_info div.product-description.basket_product {
  width: 1250px !important;
}

.order_checkout {
  min-height: 567px !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
  flex-direction: row;
}

.order_basket {
  display: flex !important;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
  flex-direction: row;
  padding: 2rem 0 !important;
  height: auto !important;
}

.order_checkout main, .order_basket main {
  width: 100% !important;
}

.order_confirm {
  align-items: end !important;
  justify-content: flex-end;
  padding: .5rem 1rem !important;
  padding-right: 0 !important;
}

.basket_product_price {
  display: flex;
  flex-direction: row;
}

.basket_product_price .badge {
  height: min-content;
  margin-right: 5px;
}

.basket_product_price .prices {
  display: flex;
  flex-direction: column;
}

.orders-total {
  background-color: transparent;
  margin-bottom: 0.5rem !important;
}

.verify-email {
  min-height: 567px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.verify-email .fr-alert {
  display: block !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  margin: 10px !important;
}

.chartjs-size-monitor {
  max-width: 50%;
}

.admin-table {
  margin-bottom: 1rem !important;
}

.add_product select {
  margin-bottom: 24px !important;
}

.login label, .login a {
  color: black;
}

.login input {
  width: 100% !important;
}

.login .form-actions {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
  margin-top: 16px;
}

.login .form-actions input {
  width: 1.25rem !important;
}

.login-image div {
  height: auto;
  background-image: url("/images/logo-home.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/****************\
   User profile
\****************/
.card-bleed {
  width: auto !important;
}

.card-bleed .card-header {
  border-bottom: 0 solid #f1f4f8;
  margin-bottom: 0;
  padding: 1.5rem 2rem;
  background-color: transparent;
  border-bottom: 1px solid #f1f4f8;
  width: 100%;
}

@media (min-width: 768px) {
  .mt-md-n6 {
    margin-top: -2rem !important;
  }
}

.user-update, .user-update .row {
  width: 100%;
}

.user-update .col-12 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.user-update .col-12 .form-group {
  margin: 10px !important;
}

.user-update .col-12 .form-group label {
  color: black !important;
}

.text-danger-zone {
  color: #dc3545 !important;
}

.card-list.tab-list .active .list-link:before {
  display: block;
}

.card-list.tab-list .list-link:before {
  border-right: 2px solid #F5b027;
  content: "";
  height: 25px;
  display: none;
  left: -1.75rem;
  position: absolute;
}

.shape:not([class*=shape-blur]) {
  overflow: hidden;
}

.shape {
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.shape:not([class*=shape-blur])>* {
  transform: scale(2);
}

.shape-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.shape-fluid-x>* {
  height: auto;
  width: 100%;
}

.shape-bottom>* {
  transform-origin: top center;
}

.shape>* {
  display: block;
}

.pb-11 {
  padding-bottom: 6rem!important;
}

.pt-9 {
  padding-top: 4rem!important;
}

.user-header, .seller-header {
  background-color: #1B2A4E !important;
  color: white !important;
}

@media (min-width: 768px) {
  .pt-md-11 {
    padding-top: 6rem !important;
  }
}

.card-product-info .card-body {
  flex: 1 1 auto;
  padding: 2rem !important;
}

.home-product img {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  max-width: 100% !important;
  max-height: 307px !important;
}

.home-shop img {
  max-width: 100% !important;
  max-height: 357px !important;
}

.card-meta .arrow-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.card-meta .arrow-icon::after {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: auto;
  margin-left: auto;
  color: #F5b027 !important;
}

.card-meta:hover i.arrow-right{
  color: #F5b027 !important;
}

.card-meta-divider {
  opacity: 1 !important;
  background-color: #EAEDED;
}

.shop-choose {
  height: calc(100vh - 397.97px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shop-choose-form {
  margin-top: 20px;
}

.shop-choose-form .button-submit button {
  width: 100%;
}

.seller-header button:hover {
  background-color: transparent !important;
}

.seller-tabs a:before {
  left: 0 !important;
}

.seller-orders {
  min-height: 228px;
}

.pb-4-5 {
  padding-bottom: 2.7rem !important;
}

.seller-products, .seller-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem !important;
  padding-bottom: 0 !important;
  min-height: 228px !important;
}

.seller-products .fr-table, .seller-categories .fr-table, .seller-orders .fr-table {
  width: 100%;
  margin-bottom: 0 !important;
}

.seller-products button.btn-form, .seller-categories button.btn-form, .seller-edit button.btn-form, .card-times button.btn-form, .seller-create button.btn-form {
  margin-bottom: 0 !important;
}

.seller-edit button.btn-form {
  width: 350px;
}

.seller-edit .fr-alert, .seller-create .fr-alert {
  width: auto !important;
  display: flex !important;
  align-self: center;
}

.card-times label {
  padding: 0 6.25rem !important;
  margin-bottom: 0 !important;
}

.seller-delete .danger-zone-txt {
  width: 700px !important;
}

.seller-create {
  width: 900px !important;
}

.add-product .fr-modal__header, .add-category .fr-modal__header {
  padding-bottom: 0 !important;
}

.add-product .fr-modal__footer, .add-category .fr-modal__footer {
  margin-top: 0 !important;
}

.add-product button.fr-btn.btn-form, .add-product button.fr-btn.btn-danger,
.add-category button.fr-btn.btn-form, .add-category button.fr-btn.btn-danger {
  width: 100% !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.shop-tag, .product-tag {
  background-color: #1B2A4E !important;
}
.card-body.card-body-map {
  padding: 0 !important;
  min-height: 200px !important;
}

a.payments:not([href]) {
  cursor: default !important;
}

a.payments:not([href]):hover {
  color: black !important;
}

.form-add-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-add-product label {
  color: black !important;
}

.form-add-product .form-group {
  margin-right: 10px !important;
}

.form-add-product input {
  width: 100%;
  margin-bottom: 0 !important;
}

.form-add-product button {
  width: 100%;
  margin-top: calc(72px - 44px) !important;
}

.card-admin {
  background-color: #1B2A4E !important;
  width: 100%;
  height: 299px;
}

.btn-home-outline.arrow-icon::after {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: auto;
  margin-left: auto;
  color: #F5b027 !important;
}

.btn-home-outline:hover.arrow-icon::after {
  color: #FFF !important;
  transition: color 0.7s ease;
}

.btn-home.arrow-icon::after {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: auto;
  margin-left: 5px;
  color: #FFF !important;
}

.btn-home:hover.arrow-icon::after {
  color: #F5b027 !important;
  transition: color 0.7s ease;
}

.fr-btn:active {
  background-image: none !important;
}