{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
    <div class="main-container header">
        <h1>{{ property.title }}</h1>
        <p>{{ property.formattedPrice }}</p>
    </div>
{{ include('footer.html.twig') }}
{% endblock %}