{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Administration - TouSolidaires' %}

{% block content %}
    <h1>Bienvenue sur l'administration de TouSolidaires</h1>
{% endblock %}