{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Administration - ClickNToulon' %}

{% block content %}
    <h1>Bienvenue sur l'administration de ClickNToulon</h1>
{% endblock %}
