{% extends 'base.html.twig' %}

{% block title 'Les produits - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'product'} %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                {% if products is defined and products.items != [] %}
                    {% include 'product/product_skeleton.html.twig' with {'products': products} %}
                {% else %}
                    <h1 class="text-center col-span-1 sm:col-span-2 lg:col-span-4 w-full text-black dark:text-white font-medium text-3xl">
                        Aucun produit de la boutique à afficher pour le moment
                    </h1>
                {% endif %}
            </div>
            {{ knp_pagination_render(products) }}
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}