{% extends 'base.html.twig' %}

{% block title 'Les produits - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'product'} %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% include 'product/product_skeleton.html.twig' with {'products': products} %}
            </div>
            {{ knp_pagination_render(products) }}
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}