<div class="flex flex-wrap items-center p-1 rounded-xl bg-darkblue-800 shadow-xl border-2 border-darkblue-700 w-full sm:w-auto">
    <a class="tab w-full sm:w-auto {% if active == "orders" %}tab-active{% endif %}" href="{{ path('seller_index', {id: shop.id}) }}">Comamndes en cours</a>
    <a class="tab w-full sm:w-auto {% if active == "products" %}tab-active{% endif %}" href="{{ path('seller_edit_products', {id: shop.id}) }}">Ajouter/&Eacute;diter un produit</a>
    <a class="tab w-full sm:w-auto {% if active == "categories" %}tab-active{% endif %}" href="{{ path('seller_categories', {id: shop.id}) }}">Ajouter/&Eacute;diter une catégorie</a>
    <a class="tab w-full sm:w-auto {% if active == "edit" %}tab-active{% endif %}" href="{{ path('seller_edit', {id: shop.id}) }}">&Eacute;diter ma boutique</a>
</div>