{% extends 'base.html.twig' %}

{% block title 'Choisir votre boutique - TouSolidaires' %}

{% block body %}
{% include 'navbar.html.twig' with {'active' :'my-shop'} %}
<div class="form form-login">
    <h2>Choisir une boutique</h2>
    {{ form_start(form, {attr: {class: 'user-modify form-choose'}}) }}
        {{ form_row(form.select) }}
        <div class="button-submit">
            <button class="btn btn-form" type="submit" name="select">Choisir</button>
        </div>
    {{ form_end(form) }}
</div>
{% include 'footer.html.twig' %}
{% endblock %}
