{% extends 'base.html.twig' %}

{% block title 'Les boutiques - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'shop'} %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% include 'shop/shop_skeleton.html.twig' with {'shops': shops} %}
            </div>
            {{ knp_pagination_render(shops) }}
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}