{% extends 'base.html.twig' %}

{% block title 'Les boutiques - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'shop'} %}
    {% if shops.items != null %}
        <section class="text-gray-600 body-font" id="discover">
            <div class="sm:container px-8 sm:px-5 py-24 mx-auto">
                <div class="text-center mb-20">
                    <h1 class="sm:text-5xl text-3xl font-extrabold title-font text-black mb-4 uppercase">Les boutiques</h1>
                    <div class="flex mt-6 justify-center">
                        <div class="w-1/4 h-1 rounded-full bg-yellow-500 inline-flex"></div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2">
                    {% include 'shop/shop_skeleton.html.twig' with {'shops': shops} %}
                </div>
                {{ knp_pagination_render(shops) }}
            </div>
        </section>
        {% include 'footer.html.twig' %}
    {% else %}
        <div class="sm:container px-5 py-5 mx-auto absolute top-1/4 sm:top-1/3 left-0 right-0">
            <h1 class="text-black font-semibold text-4xl text-center">Aucune boutique sur ClickNToulon actuellement...</h1>
            <p class="text-black font-semibold text-xl italic text-center mt-1">Vous pouvez créer la vôtre dès maintenant</p>
            <p class="text-black font-semibold text-base italic text-center mt-1">Pour cela, rendez-vous sur votre profil</p>
        </div>
        <div class="absolute bottom-0 w-full">
            {% include 'footer.html.twig' %}
        </div>
    {% endif %}
{% endblock %}