@charset "UTF-8";

/*! ClickNToulon v1.0.0 | MIT License | https://clickntoulon.fr */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Soft";
  font-weight: 400;
  src: url('../../public/fonts/ProximaSoft-Regular.woff') format('woff');
}

@font-face {
  font-family: "Proxima Soft";
  font-weight: 500;
  src: url('../../public/fonts/ProximaSoft-Medium.woff') format('woff');
}

@font-face {
  font-family: "Proxima Soft";
  font-weight: 600;
  src: url('../../public/fonts/ProximaSoft-SemiBold.woff') format('woff');
}

@font-face {
  font-family: "Proxima Soft";
  font-weight: 700;
  src: url('../../public/fonts/ProximaSoft-Bold.woff') format('woff');
}

@font-face {
  font-family: "Proxima Soft";
  font-weight: 800;
  src: url('../../public/fonts/ProximaSoft-ExtraBold.woff') format('woff');
}

* {
  @apply font-clickntoulon;
}

html {
  scroll-behavior: smooth !important;
}

html::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  @apply bg-sky-600;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

.order_details_panel:last-of-type {
  @apply rounded-b-lg;
}

@layer base {
  .w-4\.5 {
    width: 1.125rem;
  }

  .h-4\.5 {
    height: 1.125rem;
  }

  button {
    @apply transition-all duration-500;
  }

  label {
    @apply font-medium text-black dark:text-white text-lg;
  }

  input, textarea, select {
    @apply w-full rounded-lg mt-1 text-black dark:text-white font-medium bg-gray-100 dark:bg-slate-800 border-2 border-gray-300 dark:border-slate-700 focus:border-sky-600 focus:outline-0 focus:ring-0 focus:ring-offset-0 placeholder:text-black dark:placeholder:text-gray-400 #{!important};
  }

  input[type="checkbox"] {
    @apply w-4.5 h-4.5 mt-0 rounded text-black dark:text-white border-2 border-gray-300 dark:border-slate-700 focus:border-sky-600 focus:outline-0 focus:ring-0 focus:ring-offset-0 #{!important};

    &:checked {
      @apply bg-sky-600 border-sky-600 #{!important};
    }
  }

  input[type="file"] {
    @apply block w-full font-medium text-black dark:text-white border-0 bg-transparent py-1 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-bold file:bg-sky-600 file:text-white hover:file:bg-sky-500 file:cursor-pointer focus:outline-0 #{!important};
  }

  .p-0\.75 {
    padding: 0.2rem;
  }

  .tab {
    @apply inline-flex flex-wrap items-center justify-center relative text-center cursor-pointer text-sm h-8 px-4 text-black dark:text-white font-medium rounded-lg mx-1 my-0.5;

    &:hover {
      @apply bg-slate-200 dark:bg-slate-700 text-black dark:text-white;
    }
  }

  .tab-active {
    @apply bg-slate-200 dark:bg-slate-700 text-black dark:text-white;
  }

  .tab:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .tab:focus-visible {
    box-shadow: inset 0 0 0 2px currentColor;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f1f5f9 inset !important;
    -webkit-text-fill-color: #000 !important;
  }

  @media (prefers-color-scheme: dark) {
    input {
      &::-webkit-calendar-picker-indicator {
        filter: invert(100%);
      }

      &::-ms-reveal {
        filter: invert(100%);
      }
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #1e293b inset !important;
      -webkit-text-fill-color: white !important;
    }
  }
}

.image-active {
  @apply ring-2 ring-blue-600;
}

.letter-spacing-0\.025 {
  letter-spacing: 0.025em !important;
}

.shop-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.shop-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px !important;

  @apply bg-sky-600;
}

#types::-webkit-scrollbar-thumb {
  border-radius: 10px !important;

  @apply bg-sky-600;
}

.title-underline::after {
  content: " ";
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.5rem;
  background-color: rgb(29, 78, 216);
  border-radius: 10px;
  margin-top: 2.5px;
}

.title-underline-danger::after {
  background-color: rgb(220, 38, 38) !important;
}

.h-screen-footer {
  height: calc(100vh - 390px);
}

.max-h-screen-footer {
  max-height: calc(100vh - 390px);
}

nav a[aria-current="page"] {
  @apply underline;
}

a.sortable,
a.asc,
a.desc {
  @apply flex flex-row items-center;
}

.logo {
  background-image: url("../../public/images/logo-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}