{% extends 'base.html.twig' %}

{% block title 'Mon panier - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'basket'} %}
    {% set i = 0 %}
    {% for basket in baskets %}
        {% if shops is defined %}
            <h3>Boutique: {{ shops[i].name }}</h3>
        {% endif %}
    {% endfor %}
    {% include 'footer.html.twig' %}
{% endblock %}