<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ email.subject }}</title>
    </head>
    <body>
        {% apply inline_css(source("@css/email.css")) %}
        <img src="{{ email.image('@images/logo.jpg') }}" alt="Logo TouSolidaires" width="150" height="150">
        <p class="card-text">Bonjour !</p>
        <br>
        <p>Veuillez trouver ci-joint un lien pour modifier votre mot de passe.</p>
        <p>Si vous n'êtes pas à l'origine de cette modification, veuillez nous contacter au plus vite en répondant à ce mail.</p>
        <p>Pour rappel, votre mot de passe est strictement confidentiel. Aucun membre de l'équipe TouSolidaires ne peut le voir et ne vous le demandera.</p>
        <br>
        <p><a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a></p>
        <br>
        <p>Pour vous connecter, vous devez utiliser cette adresse mail comme identifiant.</p>
        <br>
        <p>Solidairement,</p>
        <p>L'équipe TouSolidaires</p>
        <br><br>
        <i>La solidarité s'exprime aussi envers notre planète. Veuillez imprimer ce mail qu'en cas de nécessité.</i>
        {% endapply %}
    </body>
</html>