<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ email.subject }}</title>
    </head>
    <body>
        <p class="card-text">Bonjour {{ name }} !</p>
        <br>
        <p>Votre commande numéro {{ id }} a été refusé par le commerçant.</p>
        <p>Le principal motif de refus est l'indisponibilité du produit. Si vous en avez besoin urgemment, nous vous invitons à le commander dans une autre boutique sur la plateforme.</p>
        <br>
        {% if date != null %}
        <p>Le commerçant a laissé un message pour vous:
        {{ date }}
        <br>
        {% endif %}
        <p>Solidairement,</p>
        <p>L'équipe ClickNToulon</p>
    </body>
</html>