<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ email.subject }}</title>
    </head>
    <body>
        <img src="{{ email.image('@images/logo.jpg') }}" alt="Logo ClickNToulon" width="150" height="150">
        <p class="card-text">Bonjour {{ name }} !</p>
        <br>
        <p>Suite à plusieurs manquements de votre compte aux règles applicables sur la plateforme ClickNToulon, nous avons le regret de vous informer que votre compte a été banni.</p>
        <p>Vous avez la possibilité de faire appel de cette décision ou demander plus de détails en nous écrivant : <a href="mailto:administration@clickntoulon.fr">administration@clickntoulon.fr</a>s</p>
        <br>
        <p>Solidairement,</p>
        <p>L'équipe ClickNToulon</p>
    </body>
</html>