<!DOCTYPE html>
<html lang="fr" class="bg-darkblue-100 dark:bg-darkblue-900">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="ClickNToulon est une plateforme de click&collect locale basée sur Toulon, qui permet d'apporter une source de revenus supplémentaires aux commerçants">
        <meta name="robots" content="all">
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="relative">
        {% block body %}{% endblock %}
    </body>
</html>
