{% extends 'base.html.twig' %}

{% block title 'Ma super agence' %}

{% block body %}
<div class="main-container header">
    <h1>Bienvenue {% if user is defined and user != null %}{{ user.username }}{% else %}sur le site{% endif %}</h1>
</div>
{{ include('footer.html.twig') }}
{% endblock %}