<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>An Error Occurred: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('images/logo.svg') }}">
    <style>
        section.section-border {
            height: 100vh !important;
        }

        section .container {
            margin: 0 300px !important;
        }
    </style>
</head>
<body>
    <section class="section-border border-primary h-100">
        <div class="container d-flex flex-column h-100">
            <div class="row align-items-center justify-content-center gx-0 h-100">
                <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                    <!-- Heading -->
                    <h1 class="display-3 fw-bold text-center">
                        Uh Oh.
                    </h1>

                    <h4 class="mb-5 text-center text-black">
                        {% block error %}{% endblock %}
                    </h4>

                    <!-- Text -->
                    <p class="mb-5 text-center text-muted">
                        Nous avons rencontré une erreur, mais nous allons nous en occuper
                    </p>

                    <!-- Link -->
                    <div class="text-center">
                        <a class="btn btn-home" href="{{ path('home') }}">
                            Retour en sécurité
                        </a>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
</body>
</html>