<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>Une erreur est survenue : {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_css_files('app') }}
    {% endblock %}
    <link rel="icon" href="{{ asset('images/clickntoulon.svg') }}">
</head>
<body>
    <section class="w-100 min-h-screen bg-white dark:bg-gray-700">
        <div class="container flex flex-col items-center justify-center px-5 py-5">
            <!-- Heading -->
            <h1 class="text-center text-2xl text-black dark:text-white">
                Uh Oh.
            </h1>
            <h4 class="mb-5 text-center text-base text-black dark:text-white">
                {% block error %}{% endblock %}
            </h4>
            <!-- Text -->
            <p class="mb-5 text-center text-base text-black dark:text-white">
                Nous avons rencontré une erreur, mais nous allons nous en occuper
            </p>
            <!-- Link -->
            <a class="btn btn-home" href="{{ path('home') }}">
                Retour en sécurité
            </a>
        </div>
    </section>
</body>
</html>