{% extends 'base.html.twig' %}

{% block title %}
    Une erreur est survenue : {% block title_error %}{% endblock %}
{% endblock %}
{% block body %}
<section class="w-full h-screen-footer bg-white dark:bg-slate-900 flex items-center">
    <div class="container flex flex-col items-center justify-center px-5 py-5 mx-auto w-full">
        <!-- Heading -->
        <h1 class="text-center text-6xl text-black dark:text-white font-bold mb-2">
            Uh Oh.
        </h1>
        <h4 class="mb-3 text-center text-2xl text-black dark:text-white font-bold">
            {% block error %}{% endblock %}
        </h4>
        <!-- Text -->
        <p class="mb-3 text-center text-xl text-black dark:text-white">
            Nous avons rencontré une erreur, mais nous allons nous en occuper
        </p>
        <!-- Link -->
        <a class="flex items-center justify-center px-3 py-1.5 font-bold rounded-lg text-white bg-blue-700 hover:bg-blue-600 focus:bg-blue-800 active:bg-blue-800" href="{{ path('home') }}">
            Retour à l'accueil
        </a>
    </div>
</section>
{% endblock %}