<section class="body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="flex justify-center items-center flex-wrap -m-4">
            <div class="mt-3 text-center items-center flex flex-col space-y-4">
                <h1 class="font-semibold text-5xl text-black dark:text-white">{{ app.user.surname }} {{ app.user.name }}</h1>
                {% if is_granted('ROLE_ADMIN') %}
                    <h4 class="inline-flex justify-center items-center font-bold text-lg px-2 py-1 rounded-lg bg-sky-200 text-sky-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                        </svg>
                        <span class="ml-1.5">
                            Administrateur
                        </span>
                    </h4>
                {% endif %}
                <h4 class="inline-flex justify-center items-center text-slate-900 dark:text-slate-100 font-medium text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                    <span class="ml-1.5">
                        Inscrit depuis le {{ app.user.createdAt | format_datetime('short', 'none', locale='fr') }}
                    </span>
                </h4>
            </div>
        </div>
    </div>
</section>