<div class="nav nav-pills container-fluid">
    <div class="container-fluid nav-profile">
        <li class="nav-item" role="presentation">
            <a href="{{ path('user_orders') }}" {% if active == 'orders' %}class="active"{% endif %}>
                <i class="bi-box-seam"></i>Mes Commandes
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="{{ path('user_edit') }}" {% if active == 'edit' %}class="active"{% endif %}>
                <i class="bi-pen"></i>Editer mes informations
            </a>
        </li>
    </div>
</div>