<div class="flex flex-wrap items-center p-1 rounded-xl bg-white shadow-xl border-yellow-500 border-2 dark:border-none dark:shadow-none dark:bg-gray-800 w-full sm:w-auto">
    <a class="tab w-full sm:w-auto {% if active == "orders" %}tab-active{% endif %}" href="{{ path('user_orders') }}">Mes commandes</a>
    <a class="tab w-full sm:w-auto {% if active == "edit" %}tab-active{% endif %}" href="{{ path('user_edit') }}">Mes informations</a>
</div>