{% extends 'base.html.twig' %}

{% block title 'Mon profil - TouSolidaires' %}

{% block body %}
    {% include 'user/_header.html.twig' %}
    {% include 'user/_tabs.html.twig' with {active: 'profil'} %}

    <div class="container">
        <h1>Test</h1>
    </div>

    {{ include('footer.html.twig') }}
{% endblock %}